@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Bienvenido"]</h1>
    @*<p>@localizer["Aprende acerca de <a href=\"https://docs.microsoft.com/aspnet/core\">Construir aplicaciones web con ASP.NET core</a>"]</p>*@
    <p>@localizer["Aprende mas"]</p>
</div>

<div>
    <h3>
  @ViewBag.Saludos, Bryant
    </h3>
</div>

<button onclick="mostrarError()">
    Mostrar mensaje de error
</button>

@section Scripts{
    <script src="~/js/utilidades.js"></script>
}